<div class="sub_navigation">
	<%= link_to(image_tag("icon_back_inv.png", :class => 'image-link') + raw('<span class="text-inv">Zurück</span>'), "/searchs/") %>
  <span class="spacer">|</span>
  <%= link_to(image_tag("icon_rate_inv.png", :class => 'image-link') + raw('<span class="text-inv">Bewerten</span>'), '/rates/new?id=' + @episode.id.to_s) %>
</div>
<div class="content">
	<h1>Folge <%= @episode.number %> (<%= ApplicationHelper.get_number(@episode.season.number, @episode.sort) %>)</h1>
  <h2><%= @episode.title %></h2>
  <p><%= simple_format @episode.lead %></p>
  <br>
	<table class="table form-table">
    <tr>
      <td>Horrorfolge:</td>
      <td class="max"><%= ApplicationHelper.get_description_from_boolean(@episode.treehouseofhorror) %></td>
    </tr>
    <tr>
      <td>Min.Bewertung:</td>
      <td class="max"><%= @episode.rates.minimum(:value).to_f.to_s %></td>
    </tr>
    <tr>
      <td>Avg.Bewertung:</td>
      <td class="max"><%= @episode.rates.average(:value).to_f.to_s %></td>
    </tr>
    <tr>
      <td>Max.Bewertung:</td>
      <td class="max"><%= @episode.rates.maximum(:value).to_f.to_s %></td>
    </tr>
  </table>

  <div class="form-table-actions">
    <%= button_to_function("Refresh", "location.reload()", class: 'button') %>
  </div>
</div>

