<div class="sub_navigation">
	<%= link_to(image_tag("icon_back.png", :class => 'image-link') + raw('<span class="text">Zurück</span>'), '/overviews/') %>
</div>
<div class="content">
	<h1>Folge <%= @episode.number %> (<%= ApplicationHelper.get_number(@episode.season.number, @episode.sort) %>)</h1>
  <h2><%= @episode.title %></h2>
  <p><%= simple_format @episode.lead %></p>
  <br>
	<table class="table form-table">
    <tr>
      <td>Beschreibung:</td>
      <td class="max"><%= simple_format @episode.description %></td>
    </tr>
    <tr>
      <td>Horrorfolge:</td>
      <td class="max"><%= ApplicationHelper.get_description_from_boolean(@episode.treehouseofhorror) %></td>
    </tr>
  </table>
</div>