<%= form_for @rate do |f| %>
  <% if @rate.errors.any? %>
    <div class="error">
      <h2><%= @rate.errors.count %> Fehler gefunden:</h2>

      <ul>
      <% @rate.errors.full_messages.each do |msg| %>
        <li>- <%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table form-table">
    <%= f.hidden_field :episode_id, :value => @episode.id %>
    <tr>
      <td>Autor:</td>
      <td class="max"><%= collection_select(:rate, :author, Author.all, :id, :name, {:selected => @rate.author, :prompt => 'Autor wählen'}) %></td>
    </tr>
    <tr>
      <td>Bewertung:</td>
      <td class="max"><%= f.select :value, options_for_select((1..10).step(0.5).to_a.map{|s| ["#{s}", s]}, :selected => @rate.value), {prompt: 'Bewertung angeben'} %></td>
    </tr>
  </table>
  <div class="form-table-actions">
    <%= f.submit "Speichern", :class => 'button' %>
  </div>
<% end %>
