<div class="sub_navigation">
  <%= link_to(image_tag("icon_back.png", :class => 'image-link') + raw('<span class="text">Zurück</span>'), '/') %>
</div>
<div class="content">
  <h1>Alle Folgen [<%= @count %>]</h1>

  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>

  <table class="table">
    <thead>
      <tr class="title">
        <td align="left">S</td>
        <td align="left">E</td>
        <td align="left">N</td>
        <td align="left">Titel</td>
        <td align="center"></td>
      </tr>
    </thead>
    <tbody>
      <% @episodes.each do |episode| %>
        <tr>
          <td align="left"><%= episode.season.number %></td>
          <td align="left"><%= episode.sort %></td>
          <td align="left"><%= episode.number %></td>
          <td align="left" class="max"><%= episode.title %></td>
          <td align="center">
            <%= link_to(image_tag("icon_show_inv.png", :class => 'max'), '/rates/new?id=' + episode.id.to_s) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
